#!/usr/sbin/nft -f
{{ ansible_managed | comment }}
flush ruleset

table ip nat {
    chain REDSOCKS {
        type nat hook output priority 0; policy accept;
{% for net in redsocks_exclude_net %}
        ip daddr {{ net }} return
{% endfor -%}
        tcp dport 443 redirect to {{ redsocks_local_port }};
    }
}
